<%= simple_form_for(@clue, input_html:{class:"form-horizontal"}) do |f| %>
<fieldset>

<!-- Form Name -->
<legend>Add Clue</legend>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea"></label>
  <div class="col-md-4">
    <!-- <textarea class="form&#45;control" id="textarea" name="textarea">Please explain here...what you've seen or know...</textarea> -->
    <%= f.text_area(:info, placeholder:"Please explain here...what you've seen or know...", class:"input-xlarge error form-control" ) %>
    <%= f.hidden_field(:case_id, value:params[:case_id] ) %>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes"></label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Make it anonymous">
      Make it anonymous
    </label>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success btn-block">Submit</button>
  </div>
</div>

</fieldset>
<% end %>
